{
	"admin": "INSERT YOUR USER ID HERE",
	"deleteAfterSound": true,
	"prefix": "-",
	"soundDB": "../sounds.sqlite",
	"soundDirectory": "../sounds/",
	"soundSettings": {
		"volume": false,
		"passes": 3
	},
	"token": "INSERT YOUR TOKEN HERE",
}